<div class="modal" id="modal">
	<div class="modal__body">
		<div class="modal__content">
			<a class="modal__close close-modal" href="#header">X</a>
			<div class="modal__title">Укажите ваши контакты</div>
			<div class="modal__text">
				и&nbsp;мы&nbsp;перезвоним вам, чтобы назначить удобное время для
				демонтажа
			</div>
			<form class="modal__form form" action="">
				<div class="form__inner">
					<label class="form__heading" for="name">Ваше имя</label>
					<input
						class="form__input input"
						id="name"
						name="name"
						type="text"
						required
					/>
				</div>
				<div class="form__inner">
					<label class="form__heading" for="number">Телефон</label>
					<input
						class="form__input input"
						id="number"
						name="number"
						type="tel"
						required
					/>
				</div>
				<div class="form__inner-button">
					<input
						class="form__button button"
						type="submit"
						value="ЗАКАЗАТЬ БЕСПЛАТНЫЙ ЗАМЕР"
					/>
				</div>
			</form>
		</div>
	</div>
</div>
